

{% extends 'base.html'%}
{% load static %}

{% block content %}



    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top shadow py-lg-0 px-4 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="text-primary fw-bold m-0">ProMan</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between py-4 py-lg-0" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/details/{{ profile.id }}/" class="nav-item nav-link active">Home</a>
                <a href="/list_work/" class="nav-item nav-link">Work Experience</a>
                <a href="/list_edu/" class="nav-item nav-link">Education</a>

            </div>
            <a href="index.html" class="navbar-brand bg-secondary py-3 px-4 mx-3 d-none d-lg-block">
                <h1 class="text-primary fw-bold m-0">ProMan</h1>
            </a>
            <div class="navbar-nav me-auto py-0">
                <a href="/project_list/" class="nav-item nav-link">Projects</a>
<!--                <a href="#team" class="nav-item nav-link">Team</a>-->
<!--                <a href="#testimonial" class="nav-item nav-link">Testimonial</a>-->
<!--                <a href="#contact" class="nav-item nav-link">Contact</a>-->
            </div>
        </div>
    </nav>
    <!-- Navbar End -->






 <!-- About Start -->
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-5">
                        <div class="years flex-shrink-0 text-center me-4">

                            <h1> {{ profile.name }} </h1>
                            <h1 class="display-1 mb-0">{{ profile.exp_year }}</h1>
                            <h5 class="mb-0"> Year</h5>
                        </div>
                        <h3 class="lh-base mb-0"> of Experience as a <br>{{ profile.designation }} </h3>
                    </div>
                    <p class="mb-0" align="justify"> {{ profile.bio }}</p><br><br>




                   <h2 class="text-primary fw-bold mb-0">My Skills</h2><br>
                    <h5 class="mb-3"> {{ profile.skills }}</h5>

                    <div class=" align-items-center mb-3">
                        <h2 class="text-primary fw-bold mb-0"  >Email</h2><br>
                        <h5 class="lh-base mb-0">{{ profile.email}}</h5>

                    </div>

                    <div class="  align-items-center mb-3">
                        <h2 class="text-primary fw-bold mb-0"  >Contact</h2><br>
                        <h5 class="lh-base mb-0">{{ profile.contact }}</h5>

                    </div>

                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-3 mb-4">
                        <div class="col-sm-12">
                            <img class="img-fluid rounded" src="{{ profile.image.url }}" alt="">
                        </div>
<!--                        <div class="col-sm-6">-->
<!--                            <img class="img-fluid rounded" src="{% static 'assets/img/about-2.jpg' %}" alt="">-->
<!--                        </div>-->
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- About End -->




 <!-- About Start -->
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-5">
                        <div class="years flex-shrink-0 text-center me-4">
                             {% for work_experience in work_experiences %}

                            <h1>{{ work_experience.company_name }}</h1>
                            <h1 class="display-1 mb-0">{{ profile.position }}</h1>
                            <h5 class="mb-0"> Year</h5>
                            {% endfor %}
                        </div>
                        <h3 class="lh-base mb-0"> of Experience as a <br>{{ profile.designation }} </h3>
                    </div>
                    <p class="mb-0" align="justify"> {{ profile.company_name }}</p><br><br>




                   <h2 class="text-primary fw-bold mb-0">My Skills</h2><br>
                    <h5 class="mb-3"> {{ work_experience.start_date }}</h5>

                    <div class=" align-items-center mb-3">
                        <h2 class="text-primary fw-bold mb-0"  >Email</h2><br>
                        <h5 class="lh-base mb-0">{{ work_experience.end_date}}</h5>

                    </div>

                    <div class="  align-items-center mb-3">
                        <h2 class="text-primary fw-bold mb-0"  >Contact</h2><br>
                        <h5 class="lh-base mb-0">{{ profile.contact }}</h5>

                    </div>

                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-3 mb-4">
                        <div class="col-sm-12">
                            <img class="img-fluid rounded" src="{{ profile.image.url }}" alt="">
                        </div>
<!--                        <div class="col-sm-6">-->
<!--                            <img class="img-fluid rounded" src="{% static 'assets/img/about-2.jpg' %}" alt="">-->
<!--                        </div>-->
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- About End -->








<!--<div class="card" style="width:18rem;">-->
<!--&lt;!&ndash;    <img src="{{ book.image.url }}" alt=".." class="card-img-top">&ndash;&gt;-->
<!--    <div class="card-body">-->
<!--        <p class="card-text">{{ profile.name }}</p>-->
<!--          <img src="{{ profile.image.url }}" alt=".." class="card-img-top">-->
<!--        <p>{{ profile.designation }}</p>-->
<!--        <p>{{ profile.skills }}</p>-->
<!--          <p>{{ profile.contact }}</p>-->
<!--         <p>{{ profile.email}}</p>-->
<!--    </div>-->




<!--<img src="{{book.image.url}}" alt="" class="card-img-top">-->
<!--<h3 style="color: blue;">Book Name : {{ book.title }} </h3>-->

<!--<h3 style="color:red">Price : {{ book.price }}</h3>-->

{% endblock %}



